<a href="https://colab.research.google.com/github/uchechukwu-marycynthia/hertechtrailacad_pro_track/blob/master/AfterWork_Data_Science_Data_Visualisation_with_Matplotlib_Crash_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# AfterWork Data Science: Data Visualisation with Matplotlib // Crash Course

## Pre-requisites

In [ ]:
# importing matplotlib for plotting
# ---
#
import matplotlib.pyplot as plt

# importing numpy for scientific computations
# ---
# 
import numpy as np

# importing pandas for data manipulation
# ---
# 
import pandas as pd

We reference the `pyplot` sub-module since it contains most of matplotlib's core functionalities.

## 1. Basic Structure

### Example: Basic Plot (Method 1)

In [ ]:
# Method 1

# Define the datasets
age = [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]
da_salary = [38496, 42000, 46752, 49320, 53200, 56000, 62316, 64928, 67317, 68748, 73752]

# Set plot size
plt.figure(figsize=(6, 5))

# Render a plot
plt.plot(age, da_salary, color="blue", label="DA Salary")

# Add a title 
plt.title('Age vs Salary', fontdict= {'fontname': 'Serif', 'fontsize': 10})

# Add an x-axis label
plt.xlabel('Employee Age')

# Add a y-axis label
plt.ylabel('Salary')

# Add a legend
plt.legend() 

# Display the plot
plt.show()

In [ ]:
# Adding another dataset for comparison
# ---
#
ds_salary = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]

# Set plot size
plt.figure(figsize=(6, 5))

# Render a plot
plt.plot(age, da_salary, color="blue", label="Data Analyst Salary")
plt.plot(age, ds_salary, color="red", label="Data Scientist Salary")

# Add a title 
plt.title('Employee Salary (USD)', fontdict= {'fontname': 'Serif', 'fontsize': 10})

# Add an x-axis label
plt.xlabel('Employee Age')

# Add a y-axis label
plt.ylabel('Salary')

# Add a legend
plt.legend() 

# Display the plot
plt.show()

**Notes on Rendering**

*   Line chart: `plot(X, Y)`
*   Pie chart: `pie(Z)`
*   Bar plot: `bar(Z)`
*   Histogram: `hist(X)` 
*   Scatter plot: `Scatter(X, Y)`
*   Box plot: `boxplot(Z)`

### Example: Basic Plot (Method 2)

The following image describes how we use this method to plot a chart.
![matplotlib_fig1.png]()

[Image Source](https://miro.medium.com/max/669/1*zxvxtqmcl9rFVj5yN4pNjA.png)

In [ ]:
# Define the dataset
age = [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]
da_salary = [38496, 42000, 46752, 49320, 53200, 56000, 62316, 64928, 67317, 68748, 73752]

# Get figure and axes objects
# ---
# fig - managing figure level attributes
# ax - managing plot level changes
# ---
fig, ax = plt.subplots() 

# Render the plot
ax.plot(age, da_salary, color="blue", label="DA Salary")

# Display the plot
fig.show()

In [ ]:
# Creating a second dataset for comparison
ds_salary = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]

# Get figure and axes objects 
fig, ax = plt.subplots() 

# Render the plots
ax.plot(age, da_salary, color="blue", label="DA Salary")
ax.plot(age, ds_salary, color="red", label="DS Salary")

# Add a title
ax.set_title('Employee Salary (USD)')

# Add an x-axis label 
ax.set_xlabel('Employee Age')

# Add a y-axis label 
ax.set_ylabel('Salary')

# Add a legend
ax.legend()

# Add a grid
ax.grid()

# Display the plot
fig.show()

In [ ]:
# Creating a second dataset for comparison
ds_salary = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]

# Get figure and axes objects, defining (1 rows, 2 column)
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 6)) 

# Render the plots
ax1.plot(age, da_salary, color="blue", label="DA Salary")
ax2.plot(age, ds_salary, color="red", label="DS Salary")

# Add a title
ax1.set_title('Employee Salary (USD)')
ax2.set_title('Employee Salary (USD)')

# Add an x-axis label 
ax1.set_xlabel('Employee Age')
ax2.set_xlabel('Employee Age')

# Add a y-axis label 
ax1.set_ylabel('Salary')
ax2.set_ylabel('Salary')

# Add a legend
ax1.legend()
ax2.legend()

# Add a grid
ax1.grid()
ax2.grid()

# Display the plot
fig.show()

## 2. Pie Chart

A **pie chart** is a type of visualisation that shows the proportions or percentages between categories by dividing a circle into proportional segments.

### Examples

#### Example 1

In [ ]:
# Question: Create a pie chart that describes fruits quantity in a basket.
# ---
# 

# Prepare 
quantity = [35, 25, 25, 15]
fruits = ["Bananas", "Coconuts", "Grapes", "Apples"]
colors = ['blue','#66b3ff','#99ff99','#ffcc99']

# Render
plt.figure(figsize=(8, 5))
plt.pie(quantity, labels = fruits, colors=colors, autopct='%.0f%%', explode=(0, 0.1, 0, 0))

# Tweak & Label
plt.title('Fruits Pie Chart', fontdict= {'fontname': 'Serif', 'fontsize': 12})  

# Display
plt.show()

#### Example 2

In [ ]:
# Question: Create a pie chart to describe the distribution of olympic gold medals.
# ---
# Dataset URL = http://bit.ly/OlympicsDataset
# ---
# 

# Prepare 
df =  pd.read_csv('http://bit.ly/OlympicsDataset')
countries = df["country"]
gold_medals = df["gold_medal"]
explode = (0, 0, 0.1, 0, 0)

# Render
plt.figure(figsize=(8, 5))
plt.pie(gold_medals, labels = countries, explode = explode, startangle = 120, autopct = '%.0f%%')

# Tweak & Label
plt.title('Olympic Gold Medal Distribution', fontdict= {'fontname': 'Serif', 'fontsize': 12})  

# Display
plt.show()

## 3. Bar Chart

A **bar chart** is a type of visualisation that presents categorical data with rectangular bars, with heights or lengths proportional to the values that they represent.

### Examples

#### Example 1

In [ ]:
# Question
# ---
# Create a vertical and horizontal bar chart that describes the distribution of cake sales for a bakery.
# ---
# 

# Prepare
cakes = ['Marble Cake', 'Apple Cake', 'Grape Cake', 'Cup Cake', 'Chocolate Cake']
sales = [9000 , 700, 400, 300, 600]

# Render vertical bar chart: NB - height
plt.bar(cakes, height = sales, color='pink')

# Tweak and Label
plt.xticks(rotation = 45)
plt.ylabel('Sales')
plt.title('Cake Sales (USD)')

# Display
plt.show()

In [ ]:
# Render horizontal bar chart: : NB - width
plt.barh(cakes, width = sales, color='pink')

# Tweak and Label
plt.xticks(rotation = 45)
plt.xlabel('Sales')
plt.ylabel('Cakes')
plt.title('Cake Sales (USD)')

# Display
plt.show()

#### Example 2

In [ ]:
# Question
# ---
# Dataset URL = https://bit.ly/TipsDataset
# ---
#

# Prepare 
df = pd.read_csv('https://bit.ly/TipsDataset')
df.head()

In [ ]:
# Prepare: create a summary table
summary_total_bill = df.groupby(['day'], as_index=False).agg({'total_bill': np.sum})
summary_total_bill

In [ ]:
# Prepare: store each dataset in a variable
days = summary_total_bill['day']
total_bill = summary_total_bill['total_bill']

# Render 
plt.bar(days, height = total_bill, color='lightblue')

# Tweak and Label
plt.ylabel('Total Bill')
plt.title('Bill for the Days of Week')

# Display
plt.show()

## 4. Histogram

A **histogram** is type of visualisation visualises the distribution of data over a
continuous interval or certain time period.

### Examples

#### Example 1

In [ ]:
# Question
# ---
# Create a graph that shows the frequency distribution of the following dataset.
# ---
# YOUR CODE GOES BELOW
# 

# Prepare
height = [162.29867872, 172.83638413, 168.67303667, 164.57361342, 180.81120541, 170.57782187,
     167.53075749, 176.15356275, 176.95378312, 158.4125473, 187.8842668, 159.03730075,
     166.69284332, 160.73882029, 152.22378865]
bins = [150, 155, 160, 165, 170, 175, 180, 185, 190]

# Render
plt.hist(height, bins = bins)

# Tweak & Label 
plt.title('Distribution Plot of Variable X')
plt.xlabel('Height')
plt.ylabel('Frequency')

# Display
plt.show()

#### Example 2

In [ ]:
# Question
# ---
# Create a histogram to display the frequency distribution of the overall variable in the FIFA dataset.
# ---
# Dataset URL = http://bit.ly/FifaDS
# ---
# 
# YOUR CODE GOES BELOW
# 

# Prepare
fifa_df = pd.read_csv('http://bit.ly/FifaDS')
fifa_df.head()

In [ ]:
# Prepare: store Overall in a python variable
overall = fifa_df['Overall']
bins = [40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# Render
plt.hist(overall, bins = bins)

# Tweak & Label 
plt.title('Distribution of Overall Variable')
plt.xlabel('Skill')
plt.ylabel('Frequency')

# Display
plt.show()

## 5. Line Chart

**Line graphs** are used in displaying quantitative values over a continuous
interval or time period with the intention of understanding the trends,
patterns and fluctuations in our data over time.

### Examples

#### Example 1

In [ ]:
# Question
# ---
# Create a line graph to describe the trend of car sales during the year 2020
# ---
# 

# Prepare 
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
sales = [25496, 62000, 45752, 43200, 45200, 44000, 42316, 64928, 67317, 68748, 68702, 73752]

# Render
plt.plot(months, sales)

# Tweak & Label
plt.title('Line Graph of Sales for 2020')
plt.xlabel('Months')
plt.ylabel('Sales')

# Display
plt.show()

#### Example 2

In [ ]:
# Question 2
# ---
# Create a line graph to describe the trend of gas price/gallon in the UK, USA and France since 1990.
# ---
# Dataset URL (CSV) = http://bit.ly/GasDatasetII

# Prepare 
gas_df = pd.read_csv('http://bit.ly/GasDatasetII')
gas_df.head()

In [ ]:
# Prepare
years = gas_df['Year'].tolist() # tolist() returns a list of values
uk_prices = gas_df['UK']
us_prices = gas_df['USA']
france_prices = gas_df['France']

# Render
plt.figure(figsize=(14, 5))
plt.plot(years, uk_prices, marker="o", label="UK")
plt.plot(years, us_prices, marker="o", label="USA")
plt.plot(years, france_prices, marker="x",label="France")

# Tweak & Label
plt.title('Line Graph of UK Gas Prices/Gallon since 1990', fontdict={'fontweight':'bold', 'fontsize': 15})
plt.xticks(years)
plt.xlabel('Years')
plt.ylabel('Gas price ($)')
plt.legend()

# Display
plt.show()

## 6. Scatter Plot

**Scatterplots** are a type of
visualisation that can be
used to detect if a
relationship or correlation
between two variables
exists.

### Examples

#### Example 1

In [ ]:
# Question
# ---
# Create a scatter plot to describe the relationship between the two variables.
# ---
# 

# Prepare 
x = [10, 22, 30, 45, 50, 64, 70, 74, 90, 120]
y = [67, 78, 86, 96, 107, 115, 126, 135, 146, 157]

# Render 
plt.scatter(x, y)

# Tweak & Label 
plt.title('Scatterplot of X and Y')
plt.xlabel('X variable')
plt.ylabel('Y variable')

# Display
plt.show()

#### Example 2

In [ ]:
# Question
# ---
# Create a scatterplot to determine whether population and income variables 
# are highly correlated.
# ---
# Dataset URL = http://bit.ly/CountriesDS'
# ---
# 

# Prepare 
countries_df = pd.read_csv('http://bit.ly/CountriesDS')
countries_df.head()

In [ ]:
# Prepare: store population and income in python variables
population = countries_df['population']
income = countries_df['income']

# Render
plt.scatter(population, income)

# Tweak and Label
plt.title('Scatterplot of population and income')
plt.xlabel('Population')
plt.ylabel('Income')

# Display
plt.show()